.login-wrapper{
  background: linear-gradient(-45deg,#ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    height: 100vh;
    animation: gradientBG 8s ease infinite;
  /*   -webkit-animation: gradientBG 2s ease infinite;
    -moz-animation: gradientBG 1s ease infinite; */
   
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
  /*   @-webkit-keyframes gradientBG {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
     @-moz-keyframes gradientBG {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    } */
   
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.middle{
  display: flex;
  margin-top: 15%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-button {
  margin-top: 10px;
  padding: 5px 40px;
  border-radius: 7px;
  text-decoration: none;
  font-weight: bold; 
}


